<div id="banner" class="stacked">
    <img src="images/flower.jpg" style="margin-top:0px" />
    <div class="logo">
        <span style="font-size:40px; ">Rain Therapeutic Massage</span>
        <br/>
        <span>RELAXING~ATTENTIVE~INDIVIDUALLY~NATURALISTIC</span>
    </div>
</div>

<div id="navbar" class="stacked">
    <a id="indexLink" href="index.html">Home</a>
    <a id="historyLink" href="history.html">History</a>
    <a id="locationsLink" href="locations.html">Locations</a>
    <a id="servicesLink" href="services.html">Services</a>
    <a id="contactUsLink" href="contact-us.html">Contact Us</a>
</div>