<span id="copyright">Copyright &copy; Madison Plumb 2018</span>
<script>
    document.getElementById("copyright").innerHTML = "Copyright  &copy; Madison Plumb " + (new Date().getFullYear());
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47120707-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-47120707-1');
</script>