<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="description" content="RAIN Massage is a small massage company based out of Pike County, Pennsylvania. We are a traveling company, meaning that we come to you. Contact us today to schedule your massage!" />
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="favicon.ico">
<!--include the stylesheets with a bogus media type so the browser loads the files, but does not block rendering-->
<link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">
<link href='https://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">

<link rel="stylesheet" type="text/css" href="styles/style.css">