<div id="banner" class="stacked">
    <img src="images/flower.jpg" alt="Banner image of a flower" style="margin-top:0px" />
    <div class="logo">
        <span class="brand">Rain Therapeutic Massage</span>
        <span class="brand-description">RELAXING~ATTENTIVE~INDIVIDUALLY~NATURALISTIC</span>
    </div>
</div>
<link rel="stylesheet" href="styles/navbar.css" media="none" onload="if(media!='all')media='all'">

<nav>
    <input type="checkbox" id="hamburger-checkbox" class="hidden" />
    <label for="hamburger-checkbox" class="hamburger-button">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <a id="navbar-title" href="index.html" class="visible-small-block brand">RAIN Massage</a>
    <div class="nav-container">
        <ul>
            <li>
                <a id="indexLink" href="index.html">Home</a>
            </li>
            <li>
                <a id="historyLink" href="history.html">History</a>
            </li>
            <li>
                <a id="locationsLink" href="locations.html">Locations</a>
            </li>
            <li>
                <a id="servicesLink" href="services.html">Services</a>
            </li>
            <li>
                <a id="contactUsLink" href="contact-us.html">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>